@font-face {
    font-family: 'Nanum gothic';
    src: url('$lib/fonts/Nanum_Gothic/NanumGothic-Regular.ttf');
}

@font-face {
    font-family: 'Nanum gothic';
    src: url('$lib/fonts/Nanum_Gothic/NanumGothic-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Nanum gothic';
    src: url('$lib/fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto serif';
    src: url('$lib/fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf');
}
@font-face {
    font-family: 'Roboto serif';
    src: url('$lib/fonts/Roboto_Serif/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf');
    font-style: italic;
}

body {
    --colour-tubbdoose-theme: #cce5ff;
    --colour-tubbdoose-theme-1: #5C7999;

    --colour-black-100: #333;
    --colour-black-200: #444;
    --colour-black-300: #555;

    margin: 0;
    position: relative;
    min-height: 100vh;
    background: var(--colour-tubbdoose-theme);

    font-size: 18px;
    font-family: 'Nanum gothic';
    color: var(--colour-black-300);
    
    overflow: auto;
}

h1, h2, h3, h4 {
    font-family: 'Roboto serif';
    text-box: trim-start cap alphabetic;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    color: var(--colour-black-100);
}
h2, h3, h4 {
    color: var(--colour-black-200);
}

h2 {
    margin-top: 1.5em;
}